# Authentication Service Configuration
SPRING_PROFILES_ACTIVE=development

APP_PORT=5000

# RSA Keys
RSA_KEY_ID=
RSA_PUBLIC_KEY=
RSA_PRIVATE_KEY=

# Database
DB_URL=jdbc:postgresql://localhost:5432/yatrakulo_auth
DB_USER=postgres
DB_PASS=postgres

# Observability
OTEL_SERVICE_NAME=authentication-service
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces
